.element7-container {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    transition: border-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  .element7-paragraph {
    font-size: 16px;
    color: #F64B4B;
    margin-bottom: 30px;
  }
  
  .element7-heading {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 100px;
  }
  .element7-heading1 {
    font-size: 24px;
    margin-bottom: 10px;

  }
  
  .element7-section-paragraph {
    font-size: 14px;
    text-align: left;
    padding-left: 100px;

  }
 
  .btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
  }
  