.element6-container {
    padding: 20px;
  }
  
  .element6-heading {
    margin-top: 80px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Gilroy-Bold', sans-serif;
  }
  
  .element6-paragraph {
    margin-top: 20px;
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
  }
  
  .img-fluid10 {
    max-width: 130%;
    height: 75%;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
  }
  