.element2-container {
    padding: 20px;
    padding-left: 170px;
  }
  
  .text-left {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .element2-paragraph {
    margin-bottom: 20px;
    font-size: 13px;
    color: #333;
    max-width: 130%;
  }
  
  .element2-paragraph1 {
    margin-bottom: 20px;
    font-size: 15px;
    color: #F64B4B;
  }
  
  .element2-heading {
    margin-bottom: 20px;
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .img-fluid {
    max-width: 100%; /* Adjust image width if needed */
    height: 100%;
  }
  
  .img-padding {
    padding: 20px;
  }
  
  .row {
    margin: 0; /* Optional: remove any default margins on the row */
  }
  
  .col-md-6 {
    padding: 50px; /* Padding to ensure images are centered with some space around them */
  }
  