.container {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    padding-left: 100px;
  }
  
  .col-md-4 {
    padding: 15px;
  }
  
  .text-center {
    text-align: center;
  }
  
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #333;
  }
  
