.Pelement2-container {
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 200px;
  }
  
  .Pelement2-heading {
    margin-bottom: 10px;
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .Pelement2-paragraph {
    font-size: 13px;
    color: #333;
    margin-bottom: 50px;
  }
  
  .Pelement2-subheading {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .Pelement2-subparagraph {
    font-size: 12px;
    color: #333;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .Pelement2-content {
    margin-bottom: 30px;
  }
  